* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
    color: white;
    position: relative;
}


#button {
    background-color: white;
    border: none;
    font-weight: bold;  
    padding: 0;         
    height: 35px;       
    width: 75px; 
    border-radius: 45%; 
    border: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.lf-float {
    float: left;
}

.rf-float {
    float: right;
}

.container {
    /* max-width: 1500px; */
    margin: 0 auto; 
}

div.topbar {
    text-align: center;
    padding: 20px 40px;

}

div.topbar li, 
ul.nav li a {
    text-decoration: none; 
    list-style-type: none;
    display: inline-block;
    color: white;
    font-size: 1,5em;
    font-weight: 500;
}

ul.nav {
    margin: 0 100px;
}


.logo,
.nav {
    display: inline-block;

}

.logo {
    vertical-align: middle;
}

ul.nav {
    vertical-align: middle;
}

ul.botton {
    display: inline-block;
}

ul.nav>li {
    margin: 0 15px;
}
 
div.contain-header {
    max-width: 800px;
    max-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

 .title.contain-header {
    padding: 20px 0px;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
}

div.contain-header p {
    font-size: 1.22em;
    line-height: 30px;
}

.button-scarica {  
    margin: 20px  0px 0px 20px;
    text-align: center;
    width: 280px;
    height: 50px;
    vertical-align: middle;
    border-radius: 20px;
    border: none;
    font-size: 1.3em;
    padding: 3px;
}

.button-browser:hover {
    background-color: black;
    color: white;
}

div.descrizione-img {
    width: 40%;
    height: 100%;
    padding: 150px 134px;
    margin-right: 20px;
}

.altezza-section {
    min-height: 740px;
    max-height: 1000px;
}

section .border-bottom {
    border-bottom: 1px solid rgb(243, 240, 240);
}

img.img-rana,
img.img-mago,
img.img-mostro {
    margin:100px;
}

div.descrizione-img h1 {
    font-size: 3em;
}

div.descrizione-img p {
    font-size: 1.2em;
    line-height: 30px;
}

section.bg-lightgrey {
    background-color: rgb(243, 240, 240);
}

section h1 {
        font-size: 3em;
}

section p {
    font-size: 1.22em;
    line-height: 30px;
}

div.title-section {
    text-align: center;
    padding-top:150px;
}

div.title-section h1 {
    font-size: 3.5em;
}

div.title-section p {
    font-size: 1.5em;
    line-height: 45px;
    font-weight: bold;

}